/* --reset */
* {
  font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: inherit;
}
body, dl, dd, p,  form, h1, h2, h3, h4, h5, h6{
  margin:0;
}	
ol,ul{
  margin:0;
  padding:0;
}
li {
  list-style: none;
}
dt,th,h1,h2,h3,h4,h5,h6 { 
  font-weight: normal; 
  font-size: 100%;
}
input,textarea{
  padding: 0;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
/* --reset */
/* --common */
body {
  min-height: 100vh;
  background-color: #f4f5fa;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.clear-fix:before,.clear-fix:after,.clearfix:before,.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
[w-750] {
  width: 750px;
}
/* --common */
/* --flex basic */
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.justify-content-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.justify-content-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}
.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex: 1;
}
/* --flex basic */
/* 项目公共 */
.border-t{
  border-top: 2px solid #F4F5FA;
}
.border-r{
  border-right: 2px solid #F4F5FA;
}
.border-b{
  border-bottom: 2px solid #F4F5FA;
}
.border-l{
  border-left: 2px solid #F4F5FA;
}
@font-face{	font-family:'Roman'; src:url('@/assets/font/TT0246M_.TTF')format('truetype');}
// @font-face{	
//   font-family:'square721BT';
//   font-weight: bold;
//   src:url('src/assets/font/Square721BT-Roman.eot');/* IE9 Compat Modes */
//   src:url('src/assets/font/Square721BT-Roman.eot?#iefix')format('embedded-opentype'), /* IE6-IE8 */
//   url('src/assets/font/Square721BT-Roman.woff')format('woff'), /* Modern Browsers */
//   url('src/assets/font/Square721BT-Roman.ttf')format('truetype'), /* Safari, Android, iOS */
//   url('src/assets/font/Square721BT-Roman.svg#square721BT')format('svg');/* Legacy iOS */
// }
// @font-face{	font-family:'Square721BT'; src:url('@/assets/font/Square721BT-Roman.ttf')format('truetype');}
// @font-face{	
//   font-family:'square721BT';
//   font-weight: bold;
//   src:url('src/assets/font/Square721BT-Roman.eot');/* IE9 Compat Modes */
//   src:url('src/assets/font/Square721BT-Roman.eot?#iefix')format('embedded-opentype'), /* IE6-IE8 */
//   url('src/assets/font/Square721BT-Roman.woff')format('woff'), /* Modern Browsers */
//   url('src/assets/font/Square721BT-Roman.ttf')format('truetype'), /* Safari, Android, iOS */
//   url('src/assets/font/Square721BT-Roman.svg#square721BT')format('svg');/* Legacy iOS */
// }
//页面切换动画
.slide-out-enter-active,
.slide-out-leave-active,
.slide-in-enter-active,
.slide-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  height: 100%;
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}

.slide-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
//子模块页面切换动画
.son-slide-out-enter-active,
.son-slide-out-leave-active,
.son-slide-in-enter-active,
.son-slide-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  height: 100%;
  top: 110px;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}

.son-slide-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.son-slide-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.son-slide-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.son-slide-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}