/* 邀约填写 */
  .fillAppointment,.scanCodeFill{
    .slogan{
      width: 522px;
      margin: 66px auto;
    }
    .invitation-info{
      width:500px;
      height:80px;
      line-height:80px;
      background:rgba(255,255,255,1);
      box-shadow:0px 0px 32px 4px rgba(0, 0, 0, 0.1);
      border-radius: 80px;
      margin: -40px auto;
      text-align: center;
      font-size: 35px;
      color: #5F5F5F;
    }
    .gradient-txt2{
      width: 461px;
      margin: 85px auto 0;
    } 
    p{
      font-size: 28px;
      color: #646464;
      margin-top: 20px;
      text-align: center;
      .officer{
        font-size: 28px;
        color: #000;
        font-weight: bold;
      }
    }
    .fill-info{
      padding: 40px 100px 89px;
      background: #fff;
      margin: 30px auto;
      dl{
        margin-top: 10px;
        dt{
          font-size: 29px;
          line-height: 50px;
          color: #8348EB;
          .nes{
            color: #FF0000;
            // font-size: 42px;
          }
        }
        dd{
          font-size: 29px;
          position: relative;
          input,select{
            width:100%;
            height:80px;
            padding: 0 15px;
            background:rgba(255,255,255,1);
            border:2px solid rgba(180, 180, 180, 1);
          }
          .disabled-input{
            background: transparent;
          }
          textarea{
            width:100%;
            height:278px;
            padding: 10px 15px;
            background:rgba(255,255,255,1);
            border:2px solid rgba(180, 180, 180, 1);
          }
          ::-webkit-input-placeholder,::-webkit-textarea-placeholder{
            color:rgba(144,144,144,.5);
          }
          .arrow{
            position: absolute;
            width: 42px;
            height: 42px;
            top: 20px;
            right: 10px;
            background: #fff;
            pointer-events: none;
          }
        }
      }
      .confirmBtn{
        width:100%;
        height:104px;
        line-height: 104px;
        background:linear-gradient(0deg,rgba(106,99,242,1),rgba(186,54,229,1));
        box-shadow:0px 1px 0px 0px rgba(255,255,255,0.31);
        margin: 74px auto;
        border-radius: 104px;
        text-align: center;
        color: #fff;
        font-size: 45px;
      }
    }
  }
  .scanCodeFill{
    .fill-info{
      background: transparent;
    }
  } 
  .fillSuccess{
    .success-background{
      width:750px;
      height:510px;
      overflow: hidden;
      background: url(~IMG/big-top.png),linear-gradient(90deg,rgba(106,99,242,1),rgba(186,54,229,1));
      background-size: 100%;
      background-repeat: no-repeat;
      .slogan{
        width: 522px;
        margin: 85px auto;
      }
      .post-success{
        width: 160px;
        margin: 130px auto;
      }
    }
    .post-state{
      margin-top: 50px;
      color: #333;
      text-align: center;
      dt{
        font-size: 42px;
        margin-bottom: 10px;
      }
      dd{
        font-size: 32px;
      }
    }
    .post-info{
      width: 550px;
      border-radius: 20px;
      margin: 140px auto;
      padding: 30px;
      box-shadow:4px 3px 20px 0px rgba(0, 0, 0, 0.25);
      p{
        font-size: 32px;
        color: #333;
        line-height: 1.6;
        span{
          margin-left: 30px;
        }
      }
    }
  }