/* 邀约填写 */
.fillAppointment,.scanCodeFill{
  padding: 40px 100px 30px;
  .slogan{
    width: 522px;
    margin: 66px auto;
  }
  .invitation-info{
    width:500px;
    height:80px;
    line-height:80px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 32px 4px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    margin: -40px auto;
    text-align: center;
    font-size: 35px;
    color: #5F5F5F;
  }
  .gradient-txt2{
    width: 182px;
    margin: 30px auto 0;
  } 
  p{
    font-size: 35px;
    color: #4E4E4E;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  .cut-line{
    width: 540px;
    height: 1px;
    background: #BBBBBB;
    margin-top: 30px;
  }
  .fill-info{
    // padding: 40px 100px 89px;
    // background: #fff;
    margin: 30px auto;
    dl{
      margin-top: 10px;
      dt{
        font-size: 29px;
        line-height: 50px;
        color: #8348EB;
        .nes{
          color: #FF0000;
          // font-size: 42px;
        }
      }
      dd{
        font-size: 29px;
        position: relative;
        input,select{
          width:100%;
          height:80px;
          padding: 0 15px;
          background:rgba(255,255,255,1);
          border:2px solid rgba(180, 180, 180, 1);
        }
        .disabled-input{
          background: transparent;
        }
        textarea{
          width:100%;
          height:278px;
          padding: 10px 15px;
          background:rgba(255,255,255,1);
          border:2px solid rgba(180, 180, 180, 1);
        }
        ::-webkit-input-placeholder,::-webkit-textarea-placeholder{
          color:rgba(144,144,144,.5);
        }
        .arrow{
          position: absolute;
          width: 42px;
          height: 42px;
          top: 20px;
          right: 10px;
          background: #fff;
          pointer-events: none;
        }
      }
    }
    .confirmBtn{
      width:100%;
      width:556px;
      height:104px;
      line-height:104px;
      background:linear-gradient(0deg,rgba(124,30,203,1),rgba(193,135,242,1));
      box-shadow:0px 2px 0px 0px rgba(255,255,255,0.31);
      border-radius: 104px;
      font-size: 45px;
      color: #fff;
      text-align: center;
      margin: 130px auto 0;
    }
  }
}
.scanCodeFill{
  .fill-info{
    background: transparent;
  }
} 
.fillSuccess{
  .success-background{
    width:750px;
    height:510px;
    overflow: hidden;
    background: url(https://m.hfieta.com/html/wx/static/img/big-top.e769f74.png),linear-gradient(90deg,rgba(106,99,242,1),rgba(186,54,229,1));
    background-size: 100%;
    background-repeat: no-repeat;
    .slogan{
      width: 522px;
      margin: 85px auto;
    }
    .post-success{
      width: 160px;
      margin: 130px auto;
    }
  }
  .post-state{
    margin-top: 50px;
    color: #333;
    text-align: center;
    dt{
      font-size: 42px;
      margin-bottom: 10px;
    }
    dd{
      font-size: 32px;
    }
  }
  .post-info{
    width: 550px;
    border-radius: 20px;
    margin: 140px auto;
    padding: 30px;
    box-shadow:4px 3px 20px 0px rgba(0, 0, 0, 0.25);
    p{
      font-size: 32px;
      color: #333;
      line-height: 1.6;
      span{
        margin-left: 30px;
      }
    }
  }
}
.invitationAdv{
  padding-bottom: 93px;
  .top-intro{
    position: relative;
    background:#fff;
    .commissioner{
      position: absolute;
      left: 65px;
      top: 1280px;
      font-size: 36px;
      color: #fff;
      font-weight: bold;
    }
  }
  .slogan{
    width: 522px;
    margin: 66px auto;
  }
  .invitation-info{
    position: relative;
    background:#fff;
    overflow: hidden;
    .appointment-slogan{
      padding: 0 28px;
      overflow: hidden;
      .slogan-box{
        border-bottom: 1px solid #BBBBBB;
        padding-bottom: 20px;
        .slogan-img{
          width: 431px;
          margin: 35px auto 25px;
        }
        .commissioner{
          text-align: center;
          color: #646464;
          span{
            color: #000;
            font-weight: bold;
          }
        }
      }
    }
    .appointment-remark{
      width:680px;
      min-height:288px;
      margin: 35px auto;
      background:linear-gradient(84deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
      border:2px solid rgba(228, 229, 233, 1);
      border-radius:25px;
      padding: 32px 35px;
      font-size: 28px;
      color: #777;
      text-align: justify;
    }
    // .personal-info{
    //   height: 146px;
    //   padding: 0 35px 0 25px;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   .head-info{
    //     display: flex;
    //     align-items: center;
    //     .head{
    //       width:109px;
    //       height:109px;
    //       background:#D2D2D2;
    //       border:2px solid rgba(210,210,210,1);
    //       box-shadow:0px 7px 18px 0px rgba(125,133,152,0.36);
    //       border-radius:50%;
    //       overflow: hidden;
    //     }
    //     dl{
    //       margin-left: 11px;
    //       color: #333;
    //       dt{
    //         font-size: 24px;
    //       }
    //       dd{
    //         font-size: 34px;
    //         margin-top: 10px;
    //         color: #a94fff;
    //         font-weight: bold;
    //       }
    //     }
    //   }
    //   .qr-code{
    //     text-align: center;
    //     i{
    //       font-size: 64px;
    //       color:rgba(14,16,128,1);
    //       background:linear-gradient(90deg,rgba(173,106,255,1),rgba(218,69,231,1));
    //       -webkit-background-clip:text;
    //       -webkit-text-fill-color:transparent;
    //     }
    //     p{
    //       font-size: 20px;
    //       color: #b539e6;
    //       // margin-top: 10px;
    //     }
    //   }
    // }
    .personal-add{
      width:100%;
      height:69px;
      line-height: 69px;
      background:linear-gradient(84deg,rgba(169,79,255,1) 0%,rgba(230,53,255,1) 100%);
      font-size:25px;
      text-align: center;
      color: #fff;
    }
    .personal-remark{
      padding: 20px 50px;
      p{
        font-size: 28px;
        color: #555;
        line-height: 1.6;
        text-indent: 56px;
      }
    }
  }
  .gradient-txt{
    width: 516px;
    margin: 50px auto 0;
  }
  .intro{
    height: 109px;
    line-height: 109px;
    background: #F1F5F6;
    font-size: 35px;
    color: #555;
    text-align: center;
    margin-top: 10px;
  }
  .service-list{
    
    // height:663px;
    margin: 0 auto;
    // background: #fff;
    // border:1px solid rgba(232, 232, 232, 1);
    // box-shadow:4px 3px 20px 0px rgba(0, 0, 0, 0.25);
    // border-radius:25px;
    // padding: 16px 0 18px;
    overflow: hidden;
    li{
      // height: 155px;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      padding: 20px 0;
      .service-control{
        width:650px;
        margin: 0 auto;
        padding: 0 30px;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        .top-img{
          width: 607px;
          // height: 113px;
        }
        .bottom-intro{
          display: flex;
          justify-content: space-between;
          align-items: center;
          dl{
            width: 460px;
            margin-top: 20px;
            dt{
              font-size: 30px;
              color: #333;
              font-weight: bold;
            }
            dd{
              font-size: 22px;
              color: #777;
              margin-top: 10px;
            }
          }
        }
        .right-control{
          width: 65px;
          height: 65px;
          border: 3px solid #555;
          border-radius: 5px;
          padding: 10px;
          display: flex;
          // justify-content: space-between;
          align-items: center;
          transition: .3s;
        }
        .rotate-up{
          transform: rotate(180deg);
        }
      }
      .service-collapse{
        border-top: 1px solid #DADADA;
        padding: 20px 12px;
        margin-top: 20px;
        will-change: height;
        transition: height 0.3s ease-in-out;
        .collapse-box{
          border-radius: 10px;
          overflow: hidden;
        }
      }
      .collapse-open{
        display: block;
      }
      .collapse-close{
        display: none;
      }
    }
    li~li{
      border-top: 1px solid #e0e0e0;
    }
  }
  .block{
    background: #fff;
    width: 750px;
    height: 300px;
  }
  .confirmBtn{
    width:556px;
    height:104px;
    line-height:104px;
    // background:linear-gradient(0deg,rgba(124,30,203,1),rgba(193,135,242,1));
    background: #8e4fec;
    box-shadow:0px 2px 0px 0px rgba(255,255,255,0.31);
    border-radius: 104px;
    font-size: 45px;
    color: #fff;
    text-align: center;
    margin: 45px auto 0;
  }
  .shareBtn{
    width:556px;
    height:104px;
    line-height:104px;
    background:rgba(105,105,105,0);
    border:3px solid rgba(129, 40, 197, 1);
    color: #9F53DF;
    border-radius: 104px;
    font-size: 45px;
    text-align: center;
    margin: 38px auto 0;
  }
}